---
---
$header-heading-color: #069 !default;
$header-bg-color: #fff4f2 !default;
$header-bg-color-secondary: #fff4f2 !default;

// Text
$section-headings-color: #069 !default;
$body-text-color: black !default;
$body-link-color: #069 !default;
$blockquote-text-color: #000 !default;

$hr-border-color: #069;

@import "{{ site.theme }}";
body {
	text-align: justify;
	.caption {
		text-align: center;
		font-style: italic;
		font-size: smaller;
		color: #4d4d4d;
	}
	.page-header {
		text-align: center;
		@include large {
			padding: 0.25rem 6rem;
		}

		@include medium {
			padding: 0.25rem 4rem;
		}

		@include small {
			padding: 2rem 1rem;
		}
	}
	.project-tagline {
		margin-bottom: 0.1rem;
		font-weight: normal;
		opacity: 0.7;

		@include large {
			font-size: 1.25rem;
		}

		@include medium {
			font-size: 1.15rem;
		}

		@include small {
			font-size: 1rem;
		}
	}
	.btn {
		display: inline-block;
		margin-bottom: 1rem;
		color: rgba(0, 0, 0, 0.7);
		background-color: rgba(0, 0, 0, 0.08);
		border-color: rgba(0, 0, 0, 0.2);
		border-style: solid;
		border-width: 1px;
		border-radius: 0.3rem;
		transition: color 0.2s, background-color 0.2s, border-color 0.2s;

		&:hover {
			color: rgba(0, 0, 0, 0.8);
			text-decoration: none;
			background-color: rgba(0, 0, 0, 0.2);
			border-color: rgba(0, 0, 0, 0.3);
		}

		+ .btn {
			margin-left: 1rem;
		}

		@include large {
			padding: 0.75rem 1rem;
		}

		@include medium {
			padding: 0.6rem 0.9rem;
			font-size: 0.9rem;
		}

		@include small {
			display: block;
			width: 100%;
			padding: 0.75rem;
			font-size: 0.9rem;

			+ .btn {
				margin-top: 1rem;
				margin-left: 0;
			}
		}
	}

}
